<!DOCTYPE html>
{% load static %}
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kasse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Luis Mendez">
    <meta name="description" content="Praktikum Webentwicklung Digital Service Tools">
    <meta name="keywords" content="Luis Mendez, Praktikum, Wechselgeld, rexroth, oceloti">
    <link rel="icon" href="{% static "images/isotipo.png"%}?">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static "css/styleBase.css"%}?">
    {% block style_block%}
    {% endblock %}
  </head>
  <body style="background-color:white; font-family: "Times New Roman", Times, serif;" >
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:white;">
      <a class="navbar-brand" href="https://www.oceloti.com" style="color: rgb(1,18,44);">
        <img class="logoI" src="{% static "images/isotipo.png"%}?" width="30px" height="30px" class="d-inline-block align-top" alt="" loading="lazy" style="margin-right: 5px;">
        Kasse
      </a>
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="navbar-nav ml-auto" style="text-align: center; display: flex; flex-direction: row;">
        <li class="nav-item dropdown" style="margin-right: 5px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; background-color:rgb(223,0,36); border-radius: 5px; padding-right: 15px; padding-left: 15px;">
            <img class="imagenWerk" src="{% static "images/werkzeug.png"%}?" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy" style="margin-right: 5px;">
            Werkzeuge
          </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white;  border-radius: 5px; text-align: center;">
            <a class="dropdown-item" href="{% url 'wechselgeld:munze' %}" style="color: rgb(1,18,44);">Wechselgeld</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white; background-color:rgb(223,0,36); border-radius: 5px; padding-right: 15px; padding-left: 15px;" href="{% url 'wechselgeld:index' %}">Über</a>
        </li>

      </ul>
    </nav>

    <div style="width: 100%; height: 40px;   background-color:#1F2833;  z-index:3;"></div>

  {% block body_block%}
  {% endblock %}
<!-- Footer -->
  <div style="width: auto; height: 10px;   background-color:white"></div>
  <footer>
    <div class="footer-container2">
      <div class="left-col2">
        <a href="https://www.oceloti.com">
        <img  src="{% static "images/imagotipo.png"%}?" alt="" class="logo3">
        </a>
        <div class="social-media2">
          <a href="https://www.facebook.com/luisenrique.mendezcantero/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://mobile.twitter.com/MendezCantero"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/lemendezc/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCTd2PxxbJKe4YBDSN-LiHpA"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/in/luis-enrique-méndez-cantero-962361123"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="rights-text">© 2020 Created By Luis Mendez All Rights Reserved.</p>
      </div>

      <div class="right-col2">
        <h1>Praktikum</h1>
        <div class="border"></div>
        <br>
        <p>Webentwicklung Digital Service Tools</p>

      </div>
    </div>
  </footer>

  </body>
</html>
